@model WebPortal.Models.Auth.AuthViewModel

<form method="post">
    @Html.HiddenFor(x => x.ReturnUrl)
    <div>UserName: @Html.TextBoxFor(x => x.UserName)</div>
    <div>Password: @Html.TextBoxFor(x => x.Password)</div>
    <button>Login</button>
</form>