@model WebPortal.Models.Auth.AuthViewModel

@section Scripts{
    <script src="~/js/auth/register.js"></script>
}

<form method="post" class="registration">
    <div>UserName: @Html.TextBoxFor(x => x.UserName)</div>
    <div>Password: @Html.TextBoxFor(x => x.Password)</div>
    <button>Register</button>
</form>