/*main news*/
.main-image {
    max-height: 1400px;
    max-width: 1150px;
    justify-content: center
}

.main-news {
    padding-top: 65px;
}

/*bootom lenta*/
.bottom-lenta {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 90%;
    gap: 20px;
}

/*news*/
.small-news {
    max-width: 400;
    max-height: 200;
    margin-left: 143px;
}

/*Trip voting*/
.voting {
    width: 58%;
}

.votetrip {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.first-trip {
    display: inline-block;
    text-align: center;
    width: 300px;
    margin-right: 20px;
}

    .first-trip:last-child {
        margin-right: 0px;
    }

.title-view {
    text-align: center;
}

.hidden {
    display: none;
}

.title-view.mode {
    cursor: pointer;
}

.trip-image {
    object-fit: cover;
    width: 300px;
    height: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.actions {
    display: flex;
    width: 100%;
}

.action {
    flex: 1;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 1px 0px #ffffff;
    text-decoration: none;
}

    .action a {
        text-decoration: none;
        color: #666666;
    }

    .action:first-child {
        border-bottom-left-radius: 20px;
    }

    .action:last-child {
        border-bottom-right-radius: 20px;
    }

.searching-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 90px auto 10px;
    margin-left: 135px;
}
.info {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto 10px;
    margin-left: 135px;
}


