/*Topbar menu */

.topbar-menu {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: #f9f9f9;
    top: 0;
    flex-wrap: wrap;
    z-index: 1000;
}


.hidden-button {
    visibility: hidden;
    margin-right: 650px;
}

.show-button {
     visibility: visible;
}

.logo {
    font-size: 30;
    transition: 0.5s;
}

    .logo a {
        text-decoration: none;
        color: black;
    }

.logo:hover{
    transform: scale(1.2);
}

.menu {
    position: relative;
    right: 70px;
}

.menu ul {
    display: none;
    position: absolute;
    width:max-content;
    background: white;
    padding: 10px;
    list-style: none;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

    .menu ul li a {
        text-decoration: none;
        color: black;
    }

.menu:hover ul {
    display: block;
}

.menu-dropdown {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    box-shadow: 0px 5px 10px black;
    position: absolute;   /* чтобы ul выпадал поверх всего */
    top: 100%;  
}

    .menu-dropdown li a {
        display: block;
        width: 100%; 
        text-decoration: none;
        color: black;
    }
    .menu-dropdown li:hover {
        background-color: grey;
    }

.menu-dropdown li:active {
    position: relative;
    top: 1px;
}


.search {
    position: relative;
    left: 70px;
}

.topbar-image {
    max-height: 42px;
    max-width: 36px;
}

.title-main {
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}

.image-on-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-container{
    right: 0px;
    position: fixed;
    bottom: 0px;
    border-radius: 100px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.notification{
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #845050;
    display: inline-block;
    cursor: pointer;
    color: #ba3939;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    text-align: center;
    width: 200px;
}

.template{
    visibility: hidden;
}


.searching-info {
    display: block;
}

.info {
    display: block;
}

.notfound {
    display: flex;
    margin-top: 20px;
    width: auto;
    margin-left: 143px;
    margin-right: 120px;
    flex-direction: column;
}