/*shop*/
.shop {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    width: auto;
    margin-left: 143px;
    margin-right: 120px;
    transition: all 0.3s ease;
}

.product-block {
    padding: 25px 30px;
    border: 1px solid #e3e3e3;
    background: #fff;
    position: static;
    display: inline-block;
    text-align: center;
    width: 295px;
    margin-right: 20px;
}

.marked-to-remove {
    border: 1px solid red;
}

.shop-image {
    object-fit: cover;
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.shop-actions {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}

.shop-action {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

    .shop-action:hover {
        background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
        background-color: #e9e9e9;
    }

    .shop-action:active {
        position: relative;
        top: 1px;
    }

.field-validation-error {
    color: red;
}

.control-panel {
    display: flex;
    position: sticky;
    width: 100%;
    top: 36px;
    background-color: #f9f9f9;
    justify-content: space-between;
    padding: 15 0px;
    margin-bottom: 40px;
    z-index: 100;
}


.user-block {
    margin-left: 143px;
    font-family: Arial;
    font-size: 20px;
    position: relative;
}

.remove-action {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

    .remove-action:hover {
        background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
        background-color: #e9e9e9;
    }

    .remove-action:active {
        position: relative;
        top: 1px;
    }

.hidden {
    display: none;
}

.template-car {
    display: none;
}

.description {
    display: inline-block; 
    width: 250px; 
    word-wrap: break-word; 
    white-space: normal; 
}

.minimal-api-title {
    margin-left: 143px;
    font-family: Arial;
    position: relative;
}
